
@using Polls.Core.Domain
@model Polls.Mvc.Models.Polls.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h3>Szczegóły</h3>


<a asp-action="Edit" asp-controller="Polls" asp-route-id="@Model.Poll.Id" class="link">Edytuj</a> |

<a asp-action="DisplayForm" asp-controller="Polls" asp-route-id="@Model.Poll.Id" class="link">Podgląd</a> | 

<a asp-action="Statistics" asp-controller="Polls" asp-route-id="@Model.Poll.Id" class="link">Pokaż statystyki</a> |

<a asp-action="ClearAnswers" asp-controller="Polls" asp-route-id="@Model.Poll.Id" class="link">Wyczyść odpowiedzi</a> |

<a asp-action="Delete" asp-controller="Polls" asp-route-id="@Model.Poll.Id" class="link">Usuń</a>



<h3>@Model.Poll.Title</h3>
<h4>@Model.Poll.Description</h4>

<div>
    <p>Liczba pytan: @Model.QuestionCount</p>
</div>

