@using Polls.Core.Domain
@model Polls.Mvc.Models.Polls.DetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<h3>Szczegóły</h3>


<a asp-action="Edit" asp-controller="Polls" asp-route-id="@Model.Poll.Id">Edytuj</a> | <a asp-action="DisplayForm" asp-controller="Polls" asp-route-id="@Model.Poll.Id">Podgląd</a> | 
<a asp-action="Statistics" asp-controller="Polls">Pokaż statystyki</a> | <a asp-action="Delete" asp-controller="Polls"
                                                                             asp-route-id="@Model.Poll.Id">Usuń</a>
<h3>@Model.Poll.Title</h3>
<h4>@Model.Poll.Description</h4>

<div>
    <p>Liczba pytan: @Model.QuestionCount</p>
</div>

