@using Polls.Core.Domain
@model Polls.Infrastructure.Dto.PollDto




    <div>

        <h2 class="form-title">@Model.Title</h2>
        <h4 class="form-desc">@Model.Description</h4>

        <form asp-action="SaveAnswers" asp-controller="Answers" method="post">
            <input type="hidden" name="PollId" value="@Model.Id" />
            @foreach (var question in Model.Questions)
            {
                // If it is single choice question
                if (question is SingleChoiceQuestion scQuestion)
                {
                    <div class="question-box">

                        <div class="question-text">
                            <label>@scQuestion.QuestionText</label>
                        </div>

                        <div class="choices">
                            @foreach (var choice in scQuestion.Choices)
                            {
                                <div class="choice">
                                    <input class="choice-input" type="radio" name="@scQuestion.Id" value="@choice" />
                                    <label class="choice-text">@choice</label>
                                </div>
                            }
                        </div>

                    </div>
                }

                // if it is multiple choice question
                if(question is MultipleChoiceQuestion mcQuestion)
                {
                    <div class="question-box">
                        <div class="question-text">
                            <label>@mcQuestion.QuestionText</label>
                        </div>

                        <div class="choices">
                            @foreach(var choice in mcQuestion.Choices)
                            {
                                <div class="choice">
                                    <input class="choice-input" type="checkbox" name="@mcQuestion.Id" value="@choice"/>
                                    <label class="choice-text">@choice</label>
                                </div>
                            }
                        </div>
                    </div>
                }


                // If it is text abswer question.
                if (question is TextAnswerQuestion taQuestion)
                {
                    <div class="question-box">
                        <div class="question-text">
                            <label>@taQuestion.QuestionText</label>
                        </div>
                        <div class="text-input">
                            <textarea rows="8" cols="40" name="@taQuestion.Id"></textarea>
                        </div>
                    </div>
                }
            }

            <input type="submit" value="Submit" />
        </form>
    </div>

